*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family: "苹方","微软雅黑"
}
body{
	background: #f5f5f5;
}
.header1{
	width: 100%;
	height: 40px;
	background: #333333;
	margin: 0 auto;
}
.header1 span{
	padding-left: 63px;
	color: #9AA29A;
	font-size: 12px;
	line-height: 40px;
}
.header1 em{
	font-style: normal;
	float: right;
	color: #9AA29A;
	font-size: 12px;
	line-height: 40px;
}
.header1 .gw{
	width: 120px;
	height: 40px;
	background: #424242;
	float: right; 
	margin-right: 60px;
	position: relative;
}
.gw img{
	padding-top: 10px;
	padding-left: 10px;
}
.gw span{
	 padding-left: 20px;
	
	 color: #9AA29A;
	 font-size: 12px;
	 position: absolute;
	 top: 3px;
}

 
.header4{
	margin: 15px auto;
	width: 1227px;
	height: 172px;
	background: white;
}
.header4-left{
	float: left;
	width: 233px;
	height: 172px;
	background: #5B5855;
}
.header4-left1{
	float: left;
    width: 75.5px;
    height: 84.5px;
    border: 1px solid #A2A2A0;

}
.header4-left1 span{
	float: left;
	margin-top:0px;
	margin-left: 12px;
	font-size: 12px;
	color: white;
}

.header4 img {
	width: 317px;
	height: 172px;
	float: left;
	margin-left:14px;
}
.header4-left1 .iconfont{
	margin-top: 10px;
}

.icon-shouji:before{
	font-size: 30px;
	color: white;
	margin-left: 20px;
	margin-top: 20px;
	
}

.header5{
    width: 1227px;
    height: 72px;
    margin: 0 auto;
}
.header5 span{
    font-size: 20px;
    color: black;
    line-height: 72px;
}
.header5-right1{
	margin-top: 35px;
	float: right;
	width: 37px;
	height: 25px;
	background: white;
	border: 1px solid #E1E1E1;
}
.header5-right1 b{
	float: left;
	margin-left: 15px;
	text-align: center;
    color:#343434;
}
.header5-right1 .r{
	color: #5B5855;
}
.header6{	
	margin: 0 auto;
	width: 1227px;
	height: 400px;
	background: width;
}
 .header6-1{
 
	float: left;
	width: 233px;
	height: 344px;
	background: #fafafa;
	border-top: 1px solid green;
	margin-right: 15px;

} 
.x1{
	margin-right: 0px;
}
.x2{
	margin-top: 14px;
}
.x3{
	margin-top: 18px;
}
.x4{
	margin-top: 16px;
}
.x5{
	margin-top: -4px;
}
.a1{
	padding-left:25px;
}
.a2{
	padding-left:20px;
}
.a3{
	padding-left:18px;
}
.a4{
	padding-left:18px;
}
.header6-1 img{
	padding-left: 35px;
	padding-top: 20px;
}
.header6-1 b{
	font-size: 15px;
	float: left;
	margin-top: 10px;
	margin-left: 52px;
}
.header6-1 span{
	float: left;
	font-size: 12px;
	margin-top:20px;
	margin-left: 34px;
	color: #CBC9CD;
}
.header6-1 strong{
	float: left;
	font-size: 15px;
	margin-top:20px;
	margin-left:85px;
	color: #FD914E;
}
.header7{
    width: 1227px;
    height: 72px;
    background: #F5F5F5;
    position: relative;
    margin: auto;
}

.header7 span{
    font-size: 20px;
    color: black;
    line-height: 72px;
}
.header7-right1{
	margin-top: 35px;
	float: right;
}
.header7-right1 b{
    font-size: 15px;
    position: absolute;
    right: 60px;
}
.header7-right1 img{
	position: absolute;
	top: 30px;
	right: 10px;
}
.header8{
	width: 1227px;
	height: 615px;
	background: #F5F5F5;
	margin: 0.5px auto;
}
.header8-left{
     margin-top: -0.5px;
	float: left;
}
.header8-top{
	float: left;
	margin-left: 15px;
	width: 233px;
	height: 302px;
	background: white;   
	transition: all 0.3s linear;
}
 .header8-top:hover{

	transform: translateY(-3px);
	box-shadow: 2px 3px 3px 2px #DEDEDE;
}
.top1{
    margin-top: 10px;
}
.header8-top b{
	font-size: 15px;
	float: left;
	margin-top: 10px;
	margin-left: 52px;
}
.header8-top span{
	float: left;
	font-size: 12px;
	margin-top:10px;
	margin-left: 34px;
	color: #CBC9CD;
}
.header8-top strong{
	float: left;
	font-size: 15px;
	margin-top:20px;
	margin-left:100px;
	color: #FD914E;
}



.header10{
	width: 1227px;
	height: 615px;
	background:  #F5F5F5;
	margin:0 auto;
}
.header10-top{
	float: right;
	margin-left:15.5px; 
	width: 233px;
	height: 302px;
	background: white;
	
	position: relative;
	overflow: hidden;
}
.header10-top:hover{
	transform: translateY(-3px);
}
.hsk{
	width: 233px;
	height: 70px;
	background:orange;
	position: absolute;
	bottom:-70px;
	transition: all 0.3s linear;
}
.header10-top .hsk span{
	display: inline-block;
	font-size: 12px;
	color: white;
	margin-top:10px;
}
.header10-top:hover .hsk{
	transform: translateY(-70px);
}	
.top9{
	margin-left: 0px;
	margin-top: -2px;
}
.top10{
	margin-top: 10px;
}
.header10-top b{
	font-size: 15px;
	float: left;
	margin-top: 10px;
	margin-left: 52px;
}
.header10-top span{
	float: left;
	font-size: 12px;
	margin-top:10px;
	margin-left: 34px;
	color: #CBC9CD;
}
.header10-top strong{
	float: left;
	font-size: 15px;
	margin-top:20px;
	margin-left:100px;
	color: #FD914E;
}
.header11{
	width: 1227px;
	height: 70px;
	background: #F5F5F5;
	margin: 0 auto; 
}
.header11 span{
	display: block;
	margin-top: 20px;
	font-size: 20px;
	color: black;
	float: left;
	margin-left: 0px;
}
.header11-right1 em{
	float: right;
	color: black;
	font-size: 12px;
	font-style: normal;
	margin-top: 35px;
	margin-right: 2px;
}
.header11-right1 b{
	color: #FD914E;
}
.top11{
	height: 302px;
}
 .header12{
	width: 1227px;
	height: 415px;
	background: #F5F5F5;
	margin: 0 auto;
} 

 .header12 .header12-h {
    transition: all 0.3s linear;

 }
 .header12 .header12-h:hover{

	transform: translateY(-3px);
	box-shadow: 2px 3px 3px 2px #DEDEDE;
}
 

.header12 .header12-h{
	float: right;
	margin-left:11.5px;
	width: 298px;
	height: 415px;
   background: white;
   position: relative;
}
.header12 .h1{
	margin-left:0px;
}
.header12-h span{
	float: left;
	margin-left:20px;
	font-size: 15px;
	color: black;
	position: absolute;
	top: 260px;
}
.header12-h em{
	font-style: normal;
	float: left;
	margin-left:20px;
	margin-top: -25px;
	font-size: 15px;
	color: black;
}
.header12-h b{
	font-weight: normal;
	float: left;
	margin-left:20px;
	margin-top: -0px;
	font-size: 15px;
	color: black;
}
.header12-h strong{
	font-style: normal;
	font-weight: normal;
	float: left;
	margin-left:20px;
	margin-top: 80px;
	font-size: 15px;
	color:#BDBDBF;
}
.header12-h .e{
	font-style: normal;
	font-weight: normal;
	float: left;
	margin-left:20px;
	margin-top: 10px;
	font-size: 15px;
	color: black;
}
.header12-h .s{
	font-style: normal;
	font-weight: normal;
	float: left;
	margin-left:-30px;
	margin-top: 100px;
	font-size: 15px;
	color:#FF6904;
}
.header13{
	width: 1227px;
	height: 415px;
	background: #F5F5F5;
	margin:0 auto;
}
.header13 .header13-top{
	float: right;
	margin-left: 11.5px;
	width: 298px;
	height: 415px;
	background: white;
    border-top: 1px solid orange;
    transition: all 0.3s linear; 
}

 .header13-top:hover{

	transform: translateY(-3px);
	box-shadow: 2px 3px 3px 2px #DEDEDE;
}
.header13 .t1{
	margin-top: -5px;
	margin-left: 0px;
}
ul{
	text-align: center;
	list-style: none;
	margin-top: 30px;
}
.l1{
	margin-top: 35px;
    font-size: 20px;
    color: orange;
}
.l2{
	margin-top: 10px;
    font-size: 20px;
    color:black;
}
.l3{
	margin-top: 10px;
    font-size: 13px;
    color: #A2A7AD;
}
.l4{
	margin-top: 10px;
    font-size: 13px;
    color: #A2A7AD;
}
.l5{
	margin-top: 10px;
    font-size: 14px;
    color: black;
}
.header13-top p{
	float: left;
	line-height: 40px;
    margin-left: 100px; 
	margin-top:-10px;
	font-size: 40px;
	color: orange;
}
.header13-top img{
	text-align: center;
}
.header13-top span{
	line-height: 40px;
	margin-left: -10px;
	float: right;
	color: #B0B0B0;
	font-size: 50px;
}
.header14{
	width: 1227px;
	height: 289px;
	background: #F5F5F5;
	margin:0 auto;
}
.header14 .header14-top{
	float: left;
	margin-right: 11.6px;
    width: 298px;
     height: 289px;
     background: white;
     position: relative;
     transition: all 0.3s linear; 

}
 .header14-top:hover{

	transform: translateY(-3px);
	box-shadow: 2px 3px 3px 2px #DEDEDE;
}
.header14 .w{
	margin-right: 0px;
}
.header14-top span{
	font-size: 16px;
	color: black;
	position: absolute;
	left: 80px;
	top: 230px;
}
.header14-top P{
	font-size: 12px;
	color:#A2A7AD;
    position: absolute;
    top: 200px;
    left: 60px;
}
.header15{
	width: 1350px;
	height: 275px;
	background: white;
	margin: 0 auto;
} 
.header15 .header15-top{
     width: 1227px;
     height: 70px;
     background: white;
     margin: 0 auto;
}
.header15-top1{
	 float: left;
	 margin-top: 10px;
	 border-right: 1px solid #F5F5F5;
     width: 240px;
     height: 50px;
     background: white;

}
.header15-top1 img{
      float: left;
      margin-top: 10px;
      margin-left: 30px;
}
.header15-top1 span{
      font-size: 18px;
      margin-top: 10px;
      float: right;
      margin-right: 60px;
}
.header15-top .x{
	border-right: 0px;
}
.header15 .header15-top2{
	margin: 0 auto;
	width: 1227px;
	height: 194px;
	border-top: 1px solid  #F5F5F5;
	background: white;
}
.header15-top2 .u1{
	float: left;
	font-size: 15px;
	width: 138px;
	height: 145px;
	background: white;
}
.u1 .u1-1{
	font-size: 13px;
	padding-top: 15px;
	color:#B0B0B0;
}
.header15-top2 .y{
	border-right: 1px solid  #F5F5F5;
}
.header15-top2 .u2{
     font-size: 25px;
     color: #FF7641;

}
.header15-top2 .u2-1{
     font-size: 16px;
     color: #B2AFAF;
}
.header15-top2 .u2-2{
	float: right;
	margin-right: 65px;
	margin-top: 10px;
	width: 120px;
	height: 30px;
	border: 2px solid  #FF7641;
	position: relative;
}
.u2-2 img{
	position: absolute;
	left: 10px;
	top: 5px;
}
.u2-2 span{
	font-size: 12px;
	color: #FF7641;
	position: absolute;
	left: 30px;
	top: 5px;
}
.header16{
	width: 1350px;
	height: 166px;
	background: #F5F5F5;
   margin: 0 auto;
    position: relative;
}
.header16 .header16-left{
     width: 804px;
     height: 70px;
     background: #F5F5F5;
     position: absolute;
     top: 20px;
     left: 60px;
}
.header16-left img{
	position: absolute;
	top: 5px;
}
.header16-left span{
	font-size: 13px;
	color: #8E8E90;
	position: absolute;
	left: 60px;
	top:3px;
}
.header16-left p{
	font-size: 10px;
	color: #8E8E90;
	position: absolute;
	left: 60px;
	top:25px;
}
.header16-left .f{
	position: absolute;
	top: 45px;
}
.header16 .header16-right{
	width: 390px;
	height: 50px;
	background: #F5F5F5;
	position: absolute;
    top: 20px;
    right: 60px;
}
.header16-right p{
	font-size: 8px;
    color:black;
    position: absolute;
    top: 20px;
    left: 100px;
	 

}
.header16-right .m1{
	position: absolute;
	left: 200px;
	top: 10px;
}
.header16-right .m2{
	position: absolute;
	left: 280px;
	top: 10px;
}
.header16-right .p9{
	position: absolute;
	left: 310px;
	top: 10px;
}
.header16-right .p8{
	position: absolute;
	left: 310px;
	top: 25px;
}
.header16-right .p7{
	position: absolute;
	left: 230px;
	top: 25px;
}
.header16-right .p6{
	position: absolute;
	left: 230px;
	top: 10px;
}
.header16-right .m3{
	position: absolute;
	left: 110px;
	top: 8px;
}
.header16-right .p5{
	position: absolute;
	left: 150px;
	top: 25px;
}
.header16-right .p4{
	position: absolute;
	left: 150px;
	top: 9px;
}
.header16-right .m4{
	color: black;
	position: absolute;
	left: 10px;
	top: 5px;
}
.header16 em{
	font-style: normal;
	color: #ADAAA5;
	position: absolute;
	bottom: 10px;
	left: 600px;
}
.header3{
	width: 1227px;
	height: 461px;
	margin: 0 auto;
	position: relative;
}
.header3 .header3-right{
	width: 990px;
	height: 460px;
	background: red;
	float: right;
	background: url("../image/5.png")no-repeat;
}
.header3-left{
	width: 238px;
	height: 100%;
	background: #5B5855;
	position: absolute;
	top: 0px;

} 
.header3-left .ulbox{
	list-style: none;
    width: 100%;
    height: 460px;
}

 .header3-left li{
 	display: block;
	float: left;
	width: 236px;
	height: 42px;
	background: white;
}
 .header3-left .item{
	background:#5B5855;
}
.header3-left .item a{
	text-decoration: none;
	color: white;
	font-size: 12px;
	position: absolute;
	left: 20px;
	line-height: 42px;
}
.header3-left span{
	color: #B3B0A7;
	position: absolute;
	right: 10px;
	line-height: 42px;
} 
.header3-left .cate{
	width: 500px;
	height: 460px;
	position: absolute;
	top: -30px;
	left: 236px;
	background: white;
}
.header3-left .item:hover{
     background: orange;

}
.header3-left .item a:hover{
	color: blue;
}
.header3-left .item .cate{
	display: none;
}
.header3-left .item:hover .cate{
	display: block;
}
.header3-left .item .cate img{
	position: absolute;
	top: 20px;
	left: 20px;
}
.header3-left .item .cate .xiaomi{
	position: absolute;
	top: 35px;
	left: 70px;
	width: 80px;
	font-size: 15px;
	color: black;
}
.header3-left .item .cate .kuang{
	width: 40px;
	height: 20px;
	position: absolute;
	top: 35px;
	left: 180px;
	border: 1px solid orange ;
	font-size: 15px;
	color: orange;
}
.header3-left .item .cate .tupian1{
	position: absolute;
	top: 80px;
	left: 0px;
}
.header3-left .item .cate .xiaomi1{
	position: absolute;
	top: 115px;
	left: 70px;
	width: 80px;
	font-size: 15px;
	color: black;
}
.header3-left .item .cate .kuang1{
	width: 40px;
	height: 20px;
	position: absolute;
	top: 115px;
	left: 180px;
	border: 1px solid orange ;
	font-size: 15px;
	color: orange;
}




.header3-left .item .cate .tupian2{
	position: absolute;
	top: 160px;
	left: 0px;
}
.header3-left .item .cate .xiaomi2{
	position: absolute;
	top: 195px;
	left: 70px;
	width: 80px;
	font-size: 15px;
	color: black;
}
.header3-left .item .cate .kuang2{
	width: 40px;
	height: 20px;
	position: absolute;
	top: 195px;
	left: 180px;
	border: 1px solid orange ;
	font-size: 15px;
	color: orange;
}

.header3-left .item .cate .tupian3{
	position: absolute;
	top: 245px;
	left: 0px;
}
.header3-left .item .cate .xiaomi3{
	position: absolute;
	top: 275px;
	left: 70px;
	width: 80px;
	font-size: 15px;
	color: black;
}
.header3-left .item .cate .kuang3{
	width: 40px;
	height: 20px;
	position: absolute;
	top: 275px;
	left: 180px;
	border: 1px solid orange ;
	font-size: 15px;
	color: orange;
}



.header3-left .item .cate .tupian4{
	position: absolute;
	top: 325px;
	left: 0px;
}
.header3-left .item .cate .xiaomi4{
	position: absolute;
	top: 365px;
	left: 70px;
	width: 80px;
	font-size: 15px;
	color: black;
}
.header3-left .item .cate .kuang4{
	width: 40px;
	height: 20px;
	position: absolute;
	top: 365px;
	left: 180px;
	border: 1px solid orange ;
	font-size: 15px;
	color: orange;
}





.header3-left .item .cate .tupian5{
	position: absolute;
	top: 0px;
	left: 250px;
}
.header3-left .item .cate .xiaomi5{
	position: absolute;
	top: 35px;
	left: 325px;
	width: 80px;
	font-size: 15px;
	color: black;
}
.header3-left .item .cate .kuang5{
	width: 40px;
	height: 20px;
	position: absolute;
	top: 35px;
	left:430px;
	border: 1px solid orange ;
	font-size: 15px;
	color: orange;
}


.header2{
	margin: 0 auto;
	width: 1350px;
	height: 65px;
    background: white;
    position: relative;
}
.header2-left .header-left1 img{
    position: absolute;
    top: 5px;
    left: 60px;
}
.header2-left .header-left1 .tu{
    position: absolute;
    top: 5px;
    left: 160px;
}
.header2-left .header2-left2{
	width: 600px;
	height: 60px;
	background: white;
	position: absolute;
	top: 5px;
	left:  300px;
}
.header2-left2 .ulbox{
	list-style: none;
	width: 100%;
	height: 60px;
	position: absolute;
	top: -25px;
	z-index: 1;
}
.header2-left2 li{
	display: block;
	float: left;
	width: 60px;
	height: 50px;
}
.header2-left2 .item a{
    text-decoration: none;
	color: black;
	line-height: 50px;
	font-size: 13px;
}
.header2-left2 .item{
	background: white;
}
.header2-left2 .cate{
	position: absolute;
	top: 25px;
    left: -350px;
	width: 1350px;
	height: 300px;
    background: white;
}

.header2-left2 .cate .img100{
    position: absolute;
    top: 20px;
    left: 300px;
}
.header2-left2 .cate .img101{
    position: absolute;
    top: 20px;
    left: 500px;
}
.header2-left2 .cate .img102{
    position: absolute;
    top: 20px;
    left: 700px;
}
.header2-left2 .cate .img103{
    position: absolute;
    top: 20px;
    left: 900px;
}

.header2-left2 .item a:hover{
	color: red;
}
.header2-left2 .item .cate{
	display: none;
}
.header2-left2 .item:hover .cate{
	display: block;
}

.header2-right{
  width: 350px;
   height: 50px;
   position: absolute;
   top: 5px;
   right: 60px;
   border: 1px solid #333333;
}

.header2-right .xh{
	float: right;
	width: 50px;
	height: 50.5px;
    background: white;
    border: 1px solid #333333;
    position: absolute;
    top: -1px;
    right: -1px;
}
.xh img{
	padding-left: 15px;
	padding-top: 10px;
}
.header2-right .hui{
	 float: left;
	 margin-left: 60px;
	 margin-top: 15px;
	 width: 50px;
	 height: 20px;
	 background: #EEEEEE;
	 font-size: 12px;
	 text-align: center;
	 line-height: 20px;
	 color: #757575;
}
.header2-right .hui2{
	 float: left;
	 margin-left: 20px;
	 margin-top: 15px;
	 width: 110px;
	 height: 20px;
	 background: #EEEEEE;
	 font-size: 12px;
	 text-align: center;
	 line-height: 20px;
	 color: #757575;
}


.header20{
	width: 1227px;
	height: 70px;
	background: #F5F5F5;
	position: relative;
	margin:0 auto;
}
.header20 span{
	display: block;
	margin-top: 20px;
	font-size: 20px;
	color: black;
	float: left;
	margin-left: 0px;
}
.header20-right1 ul{
    list-style: none;
    position: absolute;
    right: 0px;
    top:-15px;
}
 .header20-right1 li{
 	display: block;
	float: left;
	width: 80px;
	height: 40px;
	background:#F5F5F5;
}
.header20-right1 a{
    text-decoration: none;
	color: black;
	line-height: 50px;
	font-size: 13px;
}
.header20-right1 a:hover{
	color: red;
}


.header9{
	width: 1227px;
	height: 70px;
	background: #F5F5F5;
	position: relative;
	margin:5px auto;
}
.header9 span{
	display: block;
	margin-top: 20px;
	font-size: 20px;
	color: black;
	float: left;
}
.header9-right1 ul{
    list-style: none;
    position: absolute;
    right: 0px;
    top:-15px;
}
 .header9-right1 li{
 	display: block;
	float: left;
	width: 80px;
	height: 40px;
	background:#F5F5F5;
}
.header9-right1 a{
    text-decoration: none;
	color: black;
	line-height: 50px;
	font-size: 13px;
}
.header9-right1 a:hover{
	color: red;
}